In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import *
from sklearn.preprocessing import *
from torch.utils.data import DataLoader, TensorDataset
import torch
import torch.nn as nn
import torch.optim as optim

device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')

In [11]:
training_set = pd.read_csv('C:/Users/wq188/OneDrive/바탕 화면/강의자료/international-airline-passengers.csv')

In [12]:
training_set

     1949-01  112
0    1949-02  118
1    1949-03  132
2    1949-04  129
3    1949-05  121
4    1949-06  135
..       ...  ...
138  1960-08  606
139  1960-09  508
140  1960-10  461
141  1960-11  390
142  1960-12  432

[143 rows x 2 columns]